doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Animation City
        link(rel="stylesheet", href="css/style.css")
        link(rel="stylesheet", href="css/reset.css")
    body 
        div.banner
            div.bg.bg-1
            div.bg.bg-2
            div.bg.bg-3
            div.bg.bg-4
            div.bg.bg-5
            div.bg.bg-6
            div.bg.bg-7
            div.bg.bg-8
            div.bg.bg-9
    script(src="script.js")