doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Animation City
        link(rel="stylesheet", href="css/style.css")
        link(rel="stylesheet", href="css/reset.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet")
    body 
        div.banner
            div.bg.bg-1
            div.bg.bg-2
            div.bg.bg-3
            div.bg.bg-4
            div.bg.bg-5
            h1.maintitle DIVE
            h3.subtitle SCROLL
            div.bg.bg-6
            .allstars
                .star1 
                .star2 
                .star3 
                .star4 
                .star5 
    script(src="script.js")