// Mixin for transition effects
@mixin transition-effect($property, $duration, $delay: 0s)
  transition: $property $duration ease-in-out $delay

// Mixin for background images
@mixin background-image($img-url)
  background-image: url($img-url)
  background-size: auto 100%
  background-position: center bottom

// Mixin for size
@mixin size($width,$height:$width,$bdrs:0)
  width: $width
  height: $height
  border-radius: $bdrs

@mixin pos($left:0,$top:0)
  left: $left
  top: $top

// Global styles
body
  margin: 0
 
  background: linear-gradient(180deg, #00011F 0%, #00011F 70%, rgba(21,51,115,1) 92%, rgba(48,69,220,1) 95%, rgba(205,196,255,1) 100%)
  font-family: Poppins
  font-size: 15px

.banner
  height: 100vh
  position: relative
  overflow: hidden

  .bg
    position: absolute
    left: 0
    bottom: 0
    width: 100%
    height: 100%
    @include transition-effect(all, 0.1s)

    &-1
      @include background-image('../img/IMG_0321.JPG')
    &-2
      @include size(3.5rem,3.5rem,50%)
      animation: moonAppear 3s 1s ease-out both
      top: 20%
      left: 20%
    &-3
      @include background-image('../img/IMG_0322.PNG')
    &-4
      @include background-image('../img/IMG_0323.PNG')
    &-5
      @include background-image('../img/IMG_0324.PNG')
    &-6
      @include background-image('../img/IMG_0325.png')

.maintitle 
    position: absolute
    font-family: "Noto Serif", serif
    color: rgba(255,255,255,.9)
    font-size: 10rem
    letter-spacing: 1rem
    top: 37%
    left: 50%
    transform: translate(-50%, -50%)

    &::after
      content:' '
      width: 0
      height: 15rem
      border: 1px solid rgba(255,255,255,.9)
      position: absolute
      bottom: -15rem
      left: 50%


.allstars
  @include size(100%)
  [class ^= star]
    @include size(15rem, .1rem)
    background: linear-gradient(90deg,#fff 0, transparent 60%)
    position: absolute
    transform: rotate(-45deg)
    animation: falling 3s infinite ease-out

  @for $i from 1 through 5
    .star#{$i}
      $posX: random()*100%
      $posY: random()*-20%+10%
      @include pos($posX,$posY)
      animation-delay: $i * -0.1s

@keyframes moonAppear
  0%
    box-shadow: inset 0px 0px rgba(255, 255, 255, 0.6)
  100%
    box-shadow: inset 5px -5px rgba(255, 255, 255, 0.8)

@keyframes falling
    0%
        opacity: 0
    40%
        opacity: 1
    100%
        opacity: 0
    0%
        transform: translate(100px,0) rotate(-45deg)
    100%
        transform: translate(0,200px) rotate(-45deg)

@media screen and (max-width: 40rem)
  .maintitle
    font-size: 5rem
