// Mixin for flexbox centering
@mixin flex-center
  display: flex
  justify-content: center
  align-items: center

// Mixin for transition effects
@mixin transition-effect($property, $duration, $delay: 0s)
  transition: $property $duration ease-in-out $delay

// Mixin for background images
@mixin background-image($img-url)
  background-image: url($img-url)
  background-size: auto 100%
  background-position: center bottom

// Mixin for grid layout
@mixin grid-layout($columns)
  display: grid
  grid-template-columns: repeat($columns, 1fr)


@mixin size($w,$h:$w,$bdrs:0px)
    width: $w
    height: $h
    border-radius: $bdrs

@mixin pos($l:initial,$t:initial)
    position: absolute
    left: $l
    top: $t 

// Global styles
body
  margin: 0
  background: rgb(0,1,31)
  background: linear-gradient(180deg, #00011F 0%, #00011F 70%, rgba(21,51,115,1) 92%, rgba(48,69,220,1) 95%, rgba(205,196,255,1) 100%)
  font-family: Poppins
  font-size: 15px

.banner
  height: 100vh
  position: relative
  overflow: hidden

  .bg
    position: absolute
    left: 0
    bottom: 0
    width: 100%
    height: 100%
    @include transition-effect(all, 0.1s)

    &-1
      @include background-image('../img/S__36036636.jpg')

    &-2
      @include background-image('../img/1.png')
      visibility: hidden

    &-3
      @include background-image('../img/2.png')
      visibility: hidden

    &-4
      @include background-image('../img/3.png')
      visibility: hidden

    &-5
      @include background-image('../img/4.png')
      visibility: hidden

    &-6
      @include background-image('../img/5.png')
      visibility: hidden

    &-7
      @include background-image('../img/6.png')
      visibility: hidden

    &-8
      @include background-image('../img/7.png')
      visibility: hidden

    &-9
      @include background-image('../img/8.png')
      visibility: hidden
      position: relative
      z-index: 2

  h1
    position: absolute
    top: 20%
    left: 0
    width: 100%
    text-align: center
    font-size: 11rem
    font-family: 'Pacifico', cursive
    color: #fff

.intro
  min-height: 50vh
  color: #eee
  @include flex-center
  flex-direction: column

  img
    width: 130px
    height: 130px
    border-radius: 50%

  p
    width: 700px
    max-width: 100%
    text-align: center

  button
    background-color: #fd0003
    padding: 10px 50px
    border: 1px solid #591f1d
    border-radius: 5px
    color: #fff
    font-family: Poppins
    font-weight: 500

.animation-show
  transform: translateY(50px)
  opacity: 0
  @include transition-effect(all, 0.7s)

  &:nth-child(2)
    @include transition-effect(all, 0.7s, 0.3s)

  &:nth-child(3)
    @include transition-effect(all, 0.7s, 0.6s)

  &:nth-child(4)
    @include transition-effect(all, 0.7s, 0.9s)

.active .animation-show
  transform: translateY(0)
  opacity: 1

.library
  margin-top: 50px
  @include grid-layout(4)
  text-align: center
  color: #fff

  img
    width: 90%
    height: 500px
    object-fit: cover

.allStar
    +size(100%)
    +pos(0,0)

    [class^='star']
        +size(.1875rem,6.7500rem)
        background: linear-gradient(#fff,transparent)
        animation: falling 3s infinite ease-out

    @for $i from 1 through 30
        .star#{$i}
            $posX: random()*100%
            $posY: random()*-80% + 50%
            +pos($posX,$posY)
            animation-delay: $i * -1s

@keyframes falling
    0%
        opacity: 0
    60%
        opacity: 1
    100%
        opacity: 0
    0%
        transform: translate(100px,0) rotate(-135deg)
    100%
        transform: translate(0,200px) rotate(-135deg)

@media screen and (max-width: 768px)
  .banner h1
    font-size: 5rem

  .library
    @include grid-layout(2)

  .library img
    height: 300px
